---
const images = [
  "https://images.unsplash.com/photo-1483373018724-770a096812ff?q=80&w=3598&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  "https://images.unsplash.com/photo-1482003297000-b7663a1673f1?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  "https://images.unsplash.com/photo-1461010083959-8a5727311252?q=80&w=3524&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  "https://images.unsplash.com/photo-1513519683267-4ee6761728ac?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  "https://images.unsplash.com/photo-1481930916222-5ec4696fc0f2?q=80&w=2614&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  "https://images.unsplash.com/photo-1480930700499-dc44aa7cb2cf?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge 1</title>
  </head>
  <body>
    <h1>Challenge 1</h1>
    <div class="wrapper">
      <div class="container">
        {
          images.map((image, index) => (
            <div class="img-wrapper">
              <img src={image} alt={`photo-${index + 1}`} />
            </div>
          ))
        }
      </div>
    </div>
  </body>
  <style>
    .wrapper {
      aspect-ratio: 16/9;
      padding: 16px;
      background-color: lightgray;
    }
    .container {
      display: grid;
      position: relative;
      gap: 12px;
      counter-reset: total-images;
      width: 100%;
      height: 100%;
    }

    img {
      border-radius: 6px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .container:has(.img-wrapper:nth-child(1)) {
      grid-template-columns: 1fr;
    }

    .container:has(.img-wrapper:nth-child(2)) {
      grid-template-columns: 1fr 1fr;
    }

    .container:has(.img-wrapper:nth-child(3)) {
      grid-template-columns: 1fr 1fr;
      .img-wrapper:nth-child(3) {
        grid-column: 1/3;
      }
    }

    .container:has(.img-wrapper:nth-child(4)) {
      grid-template-columns: 1fr 1fr;
      .img-wrapper:nth-child(3) {
        grid-column: 1;
      }
    }

    .container:has(.img-wrapper:nth-child(5)) {
      grid-template-columns: repeat(6, 1fr);

      .img-wrapper:nth-child(1),
      .img-wrapper:nth-child(2) {
        grid-column: span 3;
      }

      .img-wrapper:nth-child(3),
      .img-wrapper:nth-child(4),
      .img-wrapper:nth-child(5) {
        grid-column: span 2;
      }
    }

    .container:has(.img-wrapper:nth-child(6)) {
      counter-set: total-images -5;
      counter-reset: total-images;
      .img-wrapper:nth-child(5) {
        grid-column-start: 5;
        grid-column: 5/7;
        grid-row-start: 2;
      }
    }

    .img-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      counter-increment: total-images;
    }

    .img-wrapper:nth-child(n + 6) {
      grid-column-start: 5;
      grid-column: 5/7;
      grid-row-start: 2;
      img {
        display: none;
      }
    }

    .img-wrapper::after {
      content: "+" counter(total-images);
      visibility: hidden;
      position: absolute;
      z-index: 10;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      display: grid;
      place-items: center;
      font-size: 2rem;
      border-radius: 6px;
    }
    .img-wrapper:last-of-type::after {
      visibility: visible;
    }
  </style>
</html>
