---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <div class="wrapper">
      <a href="/challenge-1">Challenge 1</a>
      <a href="/challenge-2">Challenge 2</a>
      <a href="/challenge-3">Challenge 3</a>
    </div>
  </body>
</html>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
